/* styles.css */

.container {
    text-align: center;
    margin: 50px auto;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  
  .selected-button {
    border-bottom: 2px solid #000; /* Change this color to your desired underline color */
    font-weight: 600; /* Slightly bolder text */
  }
  